
<div class="row">
  <div class="col-12 text-center">
    <h1>LeWagon's Cookbook</h1>
  </div>
</div>
<ul>
  <% @recipes.each_with_index do |recipe, index| %>
    <div class="product">
      <img src=<%=recipe.picture_path %> alt="kudoz" class="product-image hidden-xs">
      <div class='product-body'>
        <h3><%= recipe.name %></h3>
        <p><%= recipe.difficulty %></p>
      </div>
      <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
        <li><%= recipe.prep_time %><a href=""><i class="fa fa-heart"></i></a></li>
        <li><a href="/recipes/<%= index %>"><i class="fas fa-eraser"></i></a></li>
        <li><a href=""><i class="fa fa-star"></i></a></li>
      </ul>
    </div>
  <% end %>
</ul>

<div class="row">
  <div class="col-12 text-center">
    <form method="get" action="/new">
    <input type="submit" class= "btntest" value="Add a recipe">
</form>
<form method="get" action="/search">
    <input type="submit" class= "btntest" value="Search a recipe">
</form>
  </div>
</div>











